<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Waiting place</title>
</head>
<body>
    <div class="box">
        <h1><%= title %></h1>
        <h2><%= text %></h2>
    </div>
<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/waiting-script.js"></script>
</body>
</html>
